body{
	color:white;
	background-color:black;
	overflow:hidden;
	cursor:none;
	font-size:150%;
}
.tweet_block{
	padding-bottom:20px;
}
@keyframes marquee{
	0% {top:500px;}
	75% {opacity:1;}
	100% {top:-2000px;opacity:0.1;}
}

.marquee{
	width:90%;
	margin:auto;
	position:relative;
	animation-timing-function:linear;
	animation-name:marquee;
	animation-duration: 45s;
	animation-iteration-count: infinite;
}
