body{
	color:white;
	background-color:black;
	overflow:hidden;
	cursor:none;
}
.tweet_block{
	padding-bottom:20px;
}
@keyframes marquee{
0% {top:500px;}
75% {overflow:1};
100% {top:-2000px;overflow:0.2;}
}

.marquee{
	width:90%;
	margin:auto;
	position:relative;
	animation-timing-function:linear;
	animation-name:marquee;
	animation-duration: 15s;
	animation-iteration-count: infinite;
}
